/* Be Naame Khoda */
/* FileName: wwwroot/css/styles.css */

/* Custom styles for the sidebar */
.sidebar {
    background-color: #4c4c4c;
}

.sidebar .nav {
    list-style-type: none; /* Remove dots from list items */
    padding-left: 0; /* Remove default padding */
}

.sidebar .nav li a {
    color: #fff;
    font-size: 16px;
    padding: 10px 15px;
    display: block;
    text-decoration: none;
}

.sidebar .nav li a:hover {
    background-color: #3a3a3a;
}